body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}
th {
    background-color: #f4f4f4;
}
button {
    padding: 5px 10px;
    margin: 2px;
    cursor: pointer;
}
.update-button, .delete-button {
    background-color: #ff9800;
    color: white;
}
.delete-button {
    background-color: #f44336;
}
.top-buttons {
    position: absolute;
    right: 20px;
    top: 20px;
}
.top-buttons button {
    margin-left: 10px;
}
h2{
    font-size: 8px;
}
p{
    font-size: 14px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header img {
    width: 150px;
    padding: 10px;

}

@media screen and (max-width: 600px) {
    .header img {
        width: 100px;
    }
    .top-buttons {
        position: static;
        margin-top: 20px;
    }
    .top-buttons button {
        margin-left: 0;
    }
}
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
}
header {
    display: flex;
    align-items: center;
}
header img {
    width: 10px;
    margin-right: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}
th {
    background-color: #f4f4f4;
}
button {
    padding: 5px 5px;
    margin: 1px;
    cursor: pointer;
}
footer {
    padding: 7px;
    text-align: center;
    margin-top: 50px;
    font-size: 14px;
    color: white;
    background-color: blue;
}